<!--ログインuserに紐づいている。複数のフォローユーザーだからeachでまわす-->
<h1>掲載者一覧</h1>
<h3>連絡しようと声かけてきた人｜フォロー｜</h3>
<div>
	<% @user.following_user.each do |following| %>
	<%=following.images.image%>
	<%=following.age%>
	<%=following.nickname%>
<% end %>
</div>

	<h3>連絡しようと声かけしている人｜フォロワー｜</h3>
<div>
	<% @user.follower_user.each do |following| %>
	<%=following.images.image%>
	<%=following.age%>
	<%=following.nickname%>
<% end %>
</div>