 <div class="flex-container">
	   <% @publishers.each do |publisher| %>
                <div class="flex-item kakomi-tape2">
							<!-- userのイメージ存在するか？ -->
						 <% if publisher.publisher_images.present? %>
                               <span style="display: inline-block;text-align: center;" >
                               	<!-- -------------これを見ながらやる------------- -->
                                 <%= attachment_image_tag publisher.publisher_images[0], :publisher_image, size: '150x150' %>
                                <!-- ---------------これを見ながらやる----------- -->
								 <% else %>
								 <%= image_tag 'noimg.jpg', size: '150x150' %>
								 <% end %>
						     </span>
						     <br>
						     <%= publisher.company_name%>
						     <%= publisher.competence %>
						     <%= publisher.address%>
						     <br>
					         <div class="a" ><%= publisher.profile %></div>
			    </div>
				<% end %>
		</div>
 </div>

		<!-- コメリンク貼りたい -->