 <div class="flex-container">
	   <% @publishers.each do |publisher| %>
                <div class="flex-item kakomi-tape2">
							<!-- userのイメージ存在するか？ -->
						 <% if publisher.publisher_images.present? %>
			  				 <% publisher.publisher_images.each do |image| %>
			  				 <span style="display: inline-block;text-align: center;" >
						     	<%= attachment_image_tag image, :image, :fill, 150, 150 %>
					             <% end %>
								 <% else %>
								 <%= image_tag 'noimg.jpg', size: '150x150' %>
								 <% end %>
						     </span>
						     <br>
						     <%= publisher.company_name%>
						     <%= publisher.competence %>
						     <%= publisher.address%>
						     <br>
					         <div class="a" ><%= publisher.profile %></div>
			    </div>
				<% end %>
		</div>
 </div>

		<!-- コメリンク貼りたい -->