<div>
   <table class="table table-inverse">
          <thead>
            <tr>
              <th>
                <%= form_for(@user) do |f| %>
                  <p>画像<%= f.attachment_field :images_images, multiple: true, onchange: "onclick_preiew_image();" %></p>
                <%= f.submit %>
                <% end %>
                <div id="list"></div>
                             <!--  ※iamgeの中の？ -->
                 <!-- オブジェクト.each  do |変数|
                繰り返す処理
                end -->
              </th>
            </tr>
           <!--  ※iamge送るところ考える -->
          </thead>
          <tbody>
                <tr>
                  <td><h4>ニックネーム :<%=@user.nickname%>&emsp;<%=@user.age%>歳&emsp;居住地 :<%=@user.prefecture%></h4></td>
                </tr>
                <tr>
                  <td>
                    <h3>自己紹介内容</h3>
                    <p><%=@user.profile%></p>
                  </td>
                </tr>
           <tbody>
     </table>
     <span><%= link_to 'プロフィール編集・確認', edit_user_path(@user.id), class: 'btn btn-default navbar-btn' %></span>
</div>