<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <%= link_to rooms_path do %>
            <h1>&emsp;<b>＜＜＜</b>&emsp;</h1>
      <% end %>
      <h3>自己紹介ページ</h3>
      <div class="kokuban-s2">
             <table class="table table-inverse table">
      <!------------------------画像を送っているおくらえさきはデータの更新なのでアップデート、その後表示される--------------------------------->
               <thead>
      <!--   ----------------------------Top画---------->
                 <th>
                   <%=attachment_image_tag(@user.images[2],:image ,:fill,150,150,fallback:"noimg.jpg",size:"100x100") %>
                 </th>
      <!-----------------複数画像投稿---------------------------------------->
                 <th>
                    <%= form_for(@user) do |f| %>
                    <p>画像<%= f.attachment_field :images_images, multiple: true, onchange: "onclick_preiew_image();" %></p>
                    <%= f.submit %>
                    <% end %>
                 </th>
                 <th>
                     <div id="list"><!-- プレビュー機能 -->
                       <% @user.images.each do |image| %>
                       <th><%= attachment_image_tag image, :image, fallback: "noimg.jpg", size:'50x50' %></th>
                     </div>
                 </th>
                </thead>

        <!--------------------------------------画像埋め込んで表示している------------------------------------------>
        					<%end%>
        <!---------------------------------プレビュー機能のid---------->
                       </th>
                      </tr>
                    </thead>
                <tbody>
                  <tr>
                        <td><h4>職場 :<%=@user.nickname%>&emsp;<%=@user.age%>歳&emsp; 場所:<%=@user.competence%></h4></td>
                    </tr>
                    <tr>
                        <td>
                            <span>手伝ってほしい内容</span>
                            <p><%=@user.profile%></p>
                        </td>
                    <tr>
      <!----------------user同士の----------------------------------------->
                  <tr>
                    <td>
                      <h1>フォロー-機能</h1>
                      <%= current_user.id %>
                      <%= @user.id%>
                    	<% if current_user != @user %>
                        <% if current_user.following?(@user) %>
                          <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
                        <% else %>
                          <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
      <!----------------------------------Dm機能とフォローからのマッチ機能との紐付け------------------------>         <tr>
                    <td>
                      <% unless @user.id == current_user.id %>
                        <% if (current_user.following? @user) && (@user.following? current_user)  %>
                        <% if @isRoom == true %>
                          <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
                        <% else %>
                          <%= form_for @room do |f| %>
                            <%= fields_for @entry do |e| %>
                              <%= e.hidden_field :user_id, value: @user.id %>
                            <% end %>
                            <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                          <% end %>
                         <% end %>
                        <% end %>
                      <% end %>
                     </td>
                   </tr>
                   <tr>
                      <td>
                        <h4>ニックネーム :<%=@user.nickname%>&emsp;<%=@user.age%>歳&emsp;居住地 :<%=@user.prefecture%><%#= render 'shared/favolites', user:@user%></h4>
                      </td>
                   </tr>
                   <tr>
                      <td>
                          <% if publisher_signed_in?%>
                            <% if UsersPublisher.exists?(user_id: @user.id, publisher_id: current_publisher.id )%>
                            <% if UsersPublisher.find_by(user_id: @user.id, publisher_id: current_publisher.id ).follow_permission == false%>
                              <%= link_to 'フォロー', user_users_publishers_path(@user.id),method: :patch %>
                             <% else %>
                              <%= link_to 'フォロ解除', user_users_publishers_path(@user.id),method: :patch %>
                            <% end %>
                            <% end %>
                          <% end %>
                    　 </td>
                    </tr>
                 </tbody>
               </table>
       </div>
         <span><%= link_to 'プロフィール編集・確認', edit_user_path(@user.id), class: 'btn btn-default navbar-btn' %></span>
    </div>
</div>