<div class="row">
  <%= link_to publishers_index_path do %>
            <h1>&emsp;<b>＜＜＜</b>&emsp;</h1>
  <% end %>
   <div class="col-md-8">
      <div class="kokuban-s2">
             <table class="table table-inverse table">
      <!------------------------画像を送っているおくらえさきはデータの更新なのでアップデート、その後表示される--------------------------------->
               <thead>
      <!--   ----------------------------Top画---------->
                 <th>
                   <%=attachment_image_tag(@user.images[0],:image ,:fill,150,150,fallback:"noimg.jpg",size:"100x100") %>
                 </th>
      <!-----------------複数画像投稿---------------------------------------->
           <% if current_user.id == current_user %>
                 <th>
                    <%= form_for(@user) do |f| %>
                    <p>画像<%= f.attachment_field :images_images, multiple: true, onchange: "onclick_preiew_image();" %></p>
                    <%= f.submit "送信"%>
                    <% end %>
                 </th>
                 <th>
          <% end %>
                     <div id="list"><!-- プレビュー機能 下に生かしたい。-->
                       <% @user.images.each do |image| %>
                       <th><%= attachment_image_tag image, :image, size:'50x50', fallback: "noimg.jpg" %></th>
                       <%end%>
                     </div>
                 </th>
                </thead>

        <!--------------------------------------画像埋め込んで表示している------------------------------------------>

        <!---------------------------------プレビュー機能のid---------->
                       </th>
                      </tr>
                    </thead>
                <tbody>
                  <tr>
                    <td>
                      <h4>ニックネーム :<%=@user.nickname%>
                      </h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4>歳:<%=@user.age%>
                      </h4>
                    </td>
                    <td>
                      <h4>場所:<%=@user.prefecture%>
                      </h4>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <div>
                          <h4><b>〜自己紹介〜</b></h4>
                          <p class="string"><%=@user.profile%></p>
                        </div>
                      </td>
                  </tr>
      <!----------------user同士の----------------------------------------->
                      <td><h4><メッセージボタン></h4><td>
                      <%#= current_user.id %数字を見るために使っていた>
                      <%= @user.id%>
                      <div>
                    	<% if current_user != @user %>
                        <% if current_user.following?(@user) %>
                          <%= link_to 'メールやめておく', unfollow_path(@user.id), method: :POST , class:"btn btn-primary btn-lg center-block"%>
                        <% else %>
                          <%= link_to 'メール依頼', follow_path(@user.id), method: :POST , class:"btn btn-primary btn-lg center-block"%>
                        <% end %>
                      <% end %>
                    </div>
      <!----------------------------------Dm機能とフォローからのマッチ機能との紐付け------------------------>
                    <div>
                      <% unless @user.id == current_user.id %>
                        <% if (current_user.following? @user) && (@user.following? current_user)  %>
                          <!-- <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a> -->
                        <% if @user_all.present? %>
                          <%= form_for @room do |f| %>
                            <%= fields_for @entry do |e| %>
                              <%= e.hidden_field :user_id, value: @user.id %>
                            <% end %>
                            <span class=""><%= f.submit "メールする場所へ移動する", class:"btn btn-primary btn-lg user-show-chat"%></span>
                          <% end %>
                        <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div>
                          <% if publisher_signed_in?%>
                            <% if UsersPublisher.exists?(user_id: @user.id, publisher_id: current_publisher.id )%>
                            <% if UsersPublisher.find_by(user_id: @user.id, publisher_id: current_publisher.id ).follow_permission == false%>
                              <%= link_to '企業ボランティア依頼', user_users_publishers_path(@user.id),method: :patch %>
                             <% else %>
                              <%= link_to '企業ボランティア受付', user_users_publishers_path(@user.id),method: :patch %>
                            <% end %>
                            <% end %>
                          <% end %>
                    </div>
                 </tbody>
               </table>
       </div>
    </div>
  <% if current_user.id == current_user %>
     <div class="col-md-4">
      <br>
             <span class="btn btn-default navbar-btn col-md-11"><h4><b>プロフィール編集・確認</b></h4><br><%= link_to '押してください', edit_user_path(@user.id), class: 'btn btn-default navbar-btn' %></span>

             <span class="btn btn-default navbar-btn col-md-11"><h4><b>声かけした人<br>｜フォロー｜</b></h4><%= link_to '押してください', following_path, class: 'btn btn-default navbar-btn' %></span>

             <span class="btn btn-default navbar-btn col-md-11"><br><h4><b>声かけてきている人<br>｜フォロワー|</b></h4><%= link_to '押してください', by_follower_path(@user.id), class: 'btn btn-default navbar-btn' %></span>

             <span class="btn btn-default navbar-btn col-md-11"><h4><b>会話をする<br>｜トークルームへ｜</b></h4><%= link_to '押してください', rooms_path(@user.id), class: 'btn btn-default navbar-btn' %></span>
      </div>
  <% end %>
</div>