<div>
   <table class="table table-inverse">
          <thead>
            <tr>
              <th>
                <%= form_for(@user) do |f| %>
                  <p>画像<%= f.attachment_field :images_images, multiple: true, onchange: "onclick_preiew_image();" %></p>
                <%= f.submit %>
                <% end %>
                <div id="list"></div>
              </th>
            </tr>
          </thead>
      <tbody>
          <tr>
            <td>
              <h4>ニックネーム :<%=@user.nickname%>&emsp;<%=@user.age%>歳&emsp;居住地 :<%=@user.prefecture%><%#= render 'shared/favolites', user:@user%></h4>
            </td>
                <td>
                  <% if publisher_signed_in?%>
                    <% if UsersPublisher.already_sent_matched?(@user.id, current_publisher.id) %>
                      <%= link_to 'unfollow', publisher_unmatch_path(user_id: @user.id, publisher_id: current_publisher.id, follower_permission: true) %>
                    <% else %>
                      <%= link_to 'フォローする', publisher_match_path(user_id: @user.id, publisher_id: current_publisher.id, follower_permission: true) %>
                    <% end %>
                  <% end %>
            　　</td>
          </tr>
          <tr>
            <td>chat room
            </td>
            <td>
              <% if @ff = true %>
                <%= link_to 'chat room', chat_room_path(chat_room_id: @chat_room.id)>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <h3>自己紹介内容</h3>
              <p><%=@user.profile%></p>
            </td>
          </tr>
     <tbody>
     </table>
     <span><%= link_to 'プロフィール編集・確認', edit_user_path(@user.id), class: 'btn btn-default navbar-btn' %></span>
</div>

 <!--  ※iamgeの中の？ -->
                 <!-- オブジェクト.each  do |変数|
                繰り返す処理
                end -->
 <!--  ※iamge送るところ考える -->