<h2>User info</h2>
     <table class="table table-inverse">
          <thead>
            <tr>
              <th><%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size:'100x100' %></th>
            </tr>
          </thead>
          <tbody>
                <tr>
                  <td><b>name</b></td>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <td><b>introduction</b></td>
                  <td><%= @user.introduction %></td>
                </tr>
                 <tr>
                  <td><b>follows</b></td>
                  <td>
                    <%= link_to follow_users_path(user.id)do %>
                      <%= @user.follower.count %>
                    <% end %>
                  </td>
                </tr>
                 <tr>
                  <td><b>followers</b></td>
                  <td>
                    <%= link_to follower_users_path(user.id) do %>
                      <%= @user.followed.count %>
                    <% end %>
                  </td>
                </tr>
           <tbody>
     </table>
     <div class="btn btn-success">
           <% unless current_user==user %>
           <% if current_user.following?(user) %>
               <%= link_to 'フォロー外す', unfollow_path(user.id), method: :delete %>
           <% else %>
              <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
           <% end %>
    <% end %>
     </div>
     <div>
        <h3>New book</h3>
        <%= form_for(@book) do |f| %>
          <h5 >Title</h5>
          <%= f.text_field :title ,class: "col-xs-12 book_title"%>
          <h5>Body</h5>
          <%= f.text_area :body ,class: "col-xs-12 book_body"%>
          <%= f.submit 'Create Book', class:"btn btn-primary btn-block"%>
        <% end %>
     </div>