<div class="row">
    <div class="col-md-6 col-md-offset-3">
            <%= link_to publisher_path do %>
            <p>&emsp;<b>＜＜＜</b>&emsp;</p>
            <% end %>
            <hr>
            <h3><b>プロフィール項目</b></h3>
            <p>&#149;プロフィールは履歴書がわりにもなるので仕事と繋がる方はできるだけきっちり書きましょう！！</p>
            <p>&#149;企業は協力が必要なことを記入してください。</p>
            <hr>
            <h5><b>&diams;マイページ項目</b></h5>
            <!-- ---------------------------------------------------------------------------------------------
             -->
             <div class="b">
                <h3><b>&diams;施設・企業</b></h3>
                <div>
                <%= link_to publishers_edit_company_name_path do %>
                    <p class="btn btn-default navbar-btn b">企業名前 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.company_name%></p>
                <% end %>
            </div>
            <div>
                <%= link_to publishers_edit_address_path do %>
                    <p class="btn btn-default navbar-btn b">都道府県,住所 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.address%></p>
                <% end %>
            </div>
            <div>
                <%= link_to publishers_edit_number_path do %>
                    <p class="btn btn-default navbar-btn b">電話番号 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.number%></p>
                <% end %>
            </div>
            <div>
                <%= link_to publishers_edit_address_path do %>
                    <p class="btn btn-default navbar-btn b">メールアドレス &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.email%></p>
                <% end %>
            </div>
            <!-- <div>
                <%#= link_to publishers_edit_postalcode_path do %>
                    <p class="btn btn-default navbar-btn b">郵便番号 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.postalcode%></p>
                <#% end %>
            </div> -->
            <div>
                <%= link_to publishers_edit_profile_path do %>
                    <p class="btn btn-default navbar-btn b">自己紹介 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;　&#8744; &emsp;</p>
                <% end %>
                <h3>自己紹介内容</h3>
                <div class="c">
                    <p><%=@publisher.profile%></p>
                </div>
            </div>
            <hr>
            <!--
            --------------------------------------------------------------------------------------------- -->
<!--
                <h3><b>&diams;掲載者</b></h3>
            <div>
                <%#= link_to users_edit_nickname_path do %>
                    <p class="btn btn-default navbar-btn b">ニックネーム &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.nicname%></p>
                <#% end %>
            </div>
            <div>
                <%#= link_to users_edit_prefecture_path do %>
                    <p class="btn btn-default navbar-btn b">お住まいの都道府県 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.postalcode%></p>
                <#% end %>
            </div>
            <div>
                <%#= link_to users_edit_nickname_path do %>
                    <p class="btn btn-default navbar-btn b">仕事・前職 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.nicname%></p>
                <#% end %>
            </div>
            <div>
                <%#= link_to users_edit_age_path do %>
                    <p class="btn btn-default navbar-btn b">年齢 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.age%></p>
                <#% end %>
            </div>
            <div>
                <%#= link_to users_edit_nickname_path do %>
                    <p class="btn btn-default navbar-btn b">趣味・特技 以前の趣味 特技 &emsp; &emsp; &emsp; &emsp; &emsp;> &emsp;<%=@publisher.nicname%></p>
                <% #end %>
            </div>
            <div>
                <%#= link_to users_edit_profile_path do %>
                    <p class="btn btn-default navbar-btn b">自己紹介 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;　&#8744; &emsp;</p>
                <#% end %>
            <h3>自己紹介内容</h3>
            <div class="c">
                <p><%=@publisher.profile%></p>
                </div>
            </div> -->
            <!--
            つけたくなったらuserのコードと@userに変えやる -->
    </div>
</div>