 <div class="row">
    <div class="col-md-8 col-md-offset-2">
		<% @users.each do |user| %>
			<table>
				<tr>
					<th>
						<!-- userのイメージ存在するか？ -->
					 <% if user.images.present? %>
		  				 <% user.images.each do |image| %>
					     	<%= attachment_image_tag image, :image, :fill, 150, 150 %>
		                 <% end %>
					 <% else %>
					    <%= image_tag 'noimg.jpg', size: '150x150' %>
					<% end %>
					     <%= user.nickname%>
					   <!--   特技 -->
					    <!--  前職 -->
					     <%= user.age %>
					     <%= user.prefecture %>
				    </th>
				</tr>
				<tr>
			    	<td>
				      <%= user.profile %>
			    	</td>
			    </tr>
			</table>
		<% end %>
	</div>
</div>