 <!--<div class="row">-->
    <div class="flex-container">
		<% @users.each do |user| %>
		<div class="flex-item">
			<% if user.images.present? %>
			  	<% user.images.each do |image| %>
			  	<span style="display: inline-block;text-align: center;" >
					<%= attachment_image_tag image, :image, :fill, 150, 150 %>
				    <% end %>
					<% else %>
						<%= image_tag 'noimg.jpg', size: '150x150' %>
					<% end %>
			　　　</span>
				 <br>
				     <%= user.nickname%>
				     <%= user.age %>
				 <br>
			         <div class="a" ><%= user.profile%></div>
	   </div>
		<% end %>
	</div>
<!--</div>-->