<div class="row">
   <div class="col-md-4 col-md-offset-4">
      <%= link_to  publisher_path do %>
            <h1>&emsp;<b>＜＜＜</b>&emsp;</h1>
      <% end %>
      <table class="table table-inverse">

      <tbody>
        <tr>
            <td><h4>職場 :<%=@publisher.nicname%>&emsp;<%=@publisher.age%>歳&emsp; 場所:<%=@publisher.competence%></h4></td>
        </tr>
        <tr>
            <td>
                <h3>手伝ってほしい内容</h3>
                <p><%=@publisher.profile%></p>
            </td>
            <td>
              <% if user_signed_in?%>
                <% if UsersPublisher.exists?(user_id: current_user.id, publisher_id: @publisher.id )%>
                  <%= link_to 'フォロー解除', publisher_users_publishers_path(@publisher.id),method: :delete %>
                <% else %>
                  <%= link_to 'フォロー', publisher_users_publishers_path(@publisher.id),method: :post %>
                <% end %>
              <% end %>
            </td>
     <tbody>
     </table>
     <span><%= link_to 'プロフィール編集・確認', edit_publisher_path(@publisher.id), class: 'btn btn-default navbar-btn' %></span>
   </div>
</div>
<!-- # ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー↓publisher側ーーーーーーーーーーー
  # publisherがフォローするとき
#   def publisher_match
#     if params[:follower_permission]
#       current_publisher.match(params[:user_id],params[:publisher_id],params[:follower_permission])
#       redirect_to user_path(params[:user_id])
#     end

#     @ff = false #片思い
#     if Users_publishers.exists?(follower_id: params[:user_id], followed_id:params[:publisher_id])
#       @ff = true #相互フォロー状態
#       if (ChatRooms.exists(publisher_id: current_publisher, user_id: current_user.id))
#         # 既にチャットルームが存在しているならばそのチャットテーブルを取得
#         @chat = ChatRooms.find_by(publisher_id: current_publisher, user_id:current_user.id)
#       else
#         # 存在しなければチャットルームを新規作成
#         @chat = ChatRooms.new
#         @chat.publisher_id = params[:publisher_id]
#         @chat.user_id = params[:user_id]
#         @chat.save
#       end
#     end

#   end

#   def publisher_unmatch
#       current_publisher.unmatch(params[:user_id], params[:publisher_id])
#       redirect_to user_path(params[:user_id])
#   end
# end


  # コメ後々共通化したほうが良い -->