
<div>
      <table class="table table-inverse">

      <tbody>
        <tr>
            <td><h4>職場 :<%=@publisher.nicname%>&emsp;<%=@publisher.age%>歳&emsp; 場所:<%=@publisher.competence%></h4></td>
        </tr>
        <tr>
            <td>
                <h3>手伝ってほしい内容</h3>
                <p><%=@publisher.profile%></p>
            </td>
            <td>
              <% if user_signed_in?%>
                <% if UsersPublisher.already_sent_matched?(current_user.id, @publisher.id) %>
                  <%= link_to 'いいね', unmatch_path(user_id: current_user.id, publisher_id: @publisher.id, follower_permission: true) %>
                <% else %>
                  <%= link_to 'いいね', match_path(user_id: current_user.id, publisher_id: @publisher.id, follower_permission: true) %>
                <% end %>
              <% end %>

              <%# if current_user.following?(@user) %>
                <%#= link_to 'フォロー外す', unfollow_path(@user.id), method: :delete %>
              <%#else %>
                <%#= link_to 'フォローする', follow_path(@user.id), method: :POST %>
              <%# end %>
            </td>
     <tbody>
     </table>
     <span><%= link_to 'プロフィール編集・確認', edit_publisher_path(@publisher.id), class: 'btn btn-default navbar-btn' %></span>
</div>
