<div class="row">
   <div class="col-md-6 col-md-offset-3">
    <%if publisher_signed_in?%>
      <%= link_to  publisher_path do %>
            <h1>&emsp;<b>＜＜＜</b>&emsp;</h1>
      <% end %>
    <% end %>
    <%if user_signed_in?%>
      <%= link_to  users_path do %>
            <h1>&emsp;<b>＜＜＜</b>&emsp;</h1>
      <% end %>
    <% end %>

      <h3>企業側ページ</h3>
     <div class="kokuban-s3">
      <table class="table table-inverse">
<!------------------------画像を送っているおくらえさきはデータの更新なのでアップデート、その後表示される--------------------------------->
            <thead>
             <tr>
                <th>
                  <%= attachment_image_tag(@publisher.publisher_images[0],:publisher_image,size:"100x100", fallback:"noimg.jpg") %>
                </th>
              </tr>
<!-----------------複数画像投稿---------------------------------------隣でとうっているため、プレビュー機能のかんぅせいあり-->
          <%if publisher_signed_in?%>
            <tr>
                <th>
                  <%= form_for(@publisher) do |f| %>
                   <p>画像<%= f.attachment_field :publisher_images_publisher_images, multiple: true, onchange: "onclick_preiew_image();" %></p>
                  <%= f.submit "送信" %>
                  <% end %>
                </th>
            </tr>
          <%end%>
            <tr>
                <th>
                   <div id="list"><!--プレビュー機能と埋め込み -->
                       <% @publisher.publisher_images.each do |publisher_image| %>
                       <th>
                          <%= attachment_image_tag publisher_image, :publisher_image, size:'50x50', fallback: "noimg.jpg" %>
                        </th>
                       <%end%>
                   </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><h4>職場 :<%=@publisher.company_name%>&emsp; 場所:<%=@publisher.address%><br><br>電話番号:<%=@publisher.number%></h4></td>
              </tr>
              <tr>
                  <td>
                      <span>手伝ってほしい内容</span>
                      <p><%=@publisher.profile%></p>
                  </td>
                  <td>
                    <% if user_signed_in?%>
                      <% if UsersPublisher.exists?(user_id: current_user.id, publisher_id: @publisher.id )%>
                        <%= link_to 'ボランティアへ応募しました', publisher_users_publishers_path(@publisher.id),method: :delete ,class: "btn btn-default" %>
                      <% else %>
                        <%= link_to 'ボランティアへの応募をする', publisher_users_publishers_path(@publisher.id),method: :post,class: "btn btn-default" %>
                      <% end %>
                    <% end %>
                  </td>
              </tr>
           </tbody>
     </table>
    </div>
  <%if publisher_signed_in?%>
     <span>
      <%= link_to 'プロフィール編集・確認', edit_publisher_path(@publisher.id), class: 'btn btn-default navbar-btn' %>
      </span>
  <% end %>
   </div>