<!DOCTYPE html>
<html
  <head>
    <title>Tumugi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">

  </head>

   <body>
    <header>
                <span class="tugumi "><%= link_to '<<<', root_path %>  紡ぎ~Tumugi~</span>
                </span >
            <div class="navbar-right">
              <!--会員がログインしている場合の表示 -->
              <% if user_signed_in? %>
	                <span class="btn btn-default navbar-btn"><i class="im im-smiley-o"></i><br><%= link_to '利用者一覧', publishers_index_path %></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-user-circle"></i><br><%= link_to '自己紹介ページ', user_path(current_user.id) %></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-diamond-o"></i><br><%= link_to 'マッチング（メール）', rooms_path %></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-users"></i><br><%= link_to '自分から(連絡)', following_path%></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-users"></i><br><%= link_to '相手から(連絡)', by_follower_path%></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-support"></i></i><br><%= link_to 'ボランティア（依頼一覧）', users_path %></span>
	                <!--管理者がログインしている場合の表示-->
	              <% elsif publisher_signed_in?%>
	                <span class="btn btn-default navbar-btn"><i class="im im-user-circle"></i><br><%= link_to 'マイページ', publisher_path(current_publisher.id)%></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-frown-o"></i><br><%= link_to 'ユーザーからの応募', following_index_path%></span>
	                <span class="btn btn-default navbar-btn"><i class="im im-magnifier"></i><br><%= link_to 'ユーザー一覧', publishers_index_path %></span>
	                <!--管理者がログインしている場合の表示-->
	              <% else %>
              <% end %>
            </div>
    </header>
    <main>
    <%= flash[:notice] %>
    <%= flash[:erorr] %>
  <% if user_signed_in? %>
       <span class="seatch_form">
                    <%= form_tag(search_path,:method => 'get') do %>
                        <%= text_field_tag :search %>
                        <%= submit_tag 'ニックネーム検索', :name => nil %>
                    <% end %>
       </span>
   <% end %>
    <%= yield %>
  </main>
    <footer>
<!--       --------------------------------通知機能の片割れ------------------------------------------>
<!--   <#% if unchecked_notifications.any? %>
      <i class="fa fa-circle" style="color: gold;"></i>
      <#% end %>
      <li>
          <%#= link_to "NOTICE", users_notifications_path, class: "btn-default" %>
      </li> -->
<!-- --------------------------------------footerの中身--------------------------------------------- -->
    <p class="footer-text">© All Rights Reserved By TETUDATTEYOBBA.<i class="fas fa-hamburger"></i>
    <span class="btn btn-default navbar-btn"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
    <span class="btn btn-default navbar-btn"><%= link_to 'Logout_publisher', destroy_publisher_session_path, method: :delete %></span>
  <% if user_signed_in? %>
    <span class="btn btn-default navbar-btn">Goo<i class="im im-car"></i>bye!! &#9996;<br><%= link_to 'サイトを退会しデータを消す', users_hide_path(current_user.id),method: :put, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
<!-----------------------user_signed_in?で誰が入っている？って聞かれているから下のリンク先はcurrent_userを記入------------------------->  </footer>
  </body>
</html>
